@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

body {
  background-image: url("assets/topography.png");
  font-family: "Merriweather", Courier, monospace;
  margin: 0%;
}

.navbar-custom {
  background-color: #333333;
  padding: 0 10% 0 10%;
}

.content {
  padding: 10% 10% 0 10%;
}

.nav-link-custom {
  color: #ff0099;
  font-size: 1.2vw;
  font-weight: 500;
  text-decoration: underline;
  padding: 10px 18px 10px 18px;
}

.nav-item:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.nav-item a:hover {
  font-weight: 700;
  color: white;
}

h1 {
  font-size: 4.8vw;
  font-weight: 500;
  padding-bottom: 5%;
}

h2 {
  font-size: 2.4vw;
  font-weight: 600;
  color: #ff0099;
  padding-bottom: 2%;
}

h3 {
  font-size: 2.4vw;
  font-weight: 700;
}

h3,
h4 {
  text-align: center;
  margin: 3vw 0 3vw 0;
}

h5 {
  font-size: 2.2vw;
  font-weight: 500;
  margin-top: 2vw;
}

p {
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: 1.5vw;
  font-weight: 500;
}

#about p {
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: 1.8vw;
  font-weight: 500;
}

@media screen and (max-width: 974px) {
  p {
    font-size: 16px;
  }
  #about p {
    font-size: 18px;
  }
  .nav-link-custom {
    font-size: 16px;
  }
  .content {
    padding-top: 15%;
  }
}
